@font-face {
    font-family: 'VT323';
    src: url('./fonts/cool_font.woff2') format('woff2');
}
body {
    text-align: center; /* Center aligns all content within the body */
    font-family: 'VT323';
    background-color: #1e1e1e;
    color: rgb(74, 246, 38);
    font-size: 1.2rem;
}
#mainContainer {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}
#videoElement {
    border: 0.125rem solid rgb(74, 246, 38);
    border-radius: 0.5rem;
    width: 65vw;
    height: auto;
    aspect-ratio: 16/9;
}
#mainContainer:fullscreen #videoElement{
    height: 100%;
    width: 100%;
    border: none;
}
.videoMeta{
    color: white;
    position: absolute;
    bottom: 102%;
}
#mainContainer:fullscreen .videoMeta{
    bottom: 0%;
}
#videoIndex{
    right: 0;
}
#playerDate{
    left: 0;
    right: 0;
}
#playerBoard {
    position: absolute;
    top: 0;
    right: 102%;
    text-align: left;
    color: white;
}
#mainContainer:fullscreen #playerBoard{
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}
.padRight {
    padding-right: 0.75rem;
}
#ratings {
    position: absolute;
    left: 102%;
    top: 0;
    color: white;
    text-align: left;
}
.smallRatingIcon {
    height: 1rem;
    width: auto;
}
.flexCell {
    display: flex;
    justify-content: left;
    align-items: center;
}
#ratings td {
    padding-right: 0.75rem;
}
#submitRatings {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    left: 105%;
    top: 50%;
    transform: translateY(-50%);
}
#mainContainer:fullscreen #submitRatings{
    left: auto;
    right: 0%;
}
#mainContainer:fullscreen #playerTable,
#mainContainer:fullscreen #submitRatings,
#mainContainer:fullscreen .videoMeta {
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
}
.rating {
    background-image: url('./images/empty-star.png');
    background-size: cover;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
}
.rating:hover, .rating:hover ~ .rating{
    background-image: url('./images/star.png');
}
.rated {
    background-image: url('./images/star.png');
}
.selectedPlayer{
    color: rgb(74, 246, 38);
    font-weight: bold;
}
.actions{
    position: absolute;
    top: 101%;
    left: 0;
    right: 0;
}
#about {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: white
}
#videoCountContainer{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white   
}
.clickableText {

}
.clickableText:hover {
    text-decoration: underline;
    cursor: pointer;    
}
a {
    color: inherit; /* Use the same color as its parent element */
    text-decoration: none;
}
th {
    font-weight: normal;
}
@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
    body {
        margin-left: 0;
        margin-right: 0;
    }
    #mainContainer {
        display: flex;
        margin-top: 3rem;
    }
    #videoElement {
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    #playerBoard {
        top: 110%;
        left: 3vw;
    }
    #submitRatings {
        flex-direction: row-reverse;
        top: 102%;
        left: auto;
        right: 3vw;
        transform: translateY(0);     
    }
    #ratings {
        top: 110%;
        right: 3vw;
        left: auto;
    }
}