@font-face {
    font-family: 'VT323';
    src: url('./fonts/cool_font.woff2') format('woff2');
}
body {
    text-align: center; /* Center aligns all content within the body */
    font-family: 'VT323';
    background-color: #1e1e1e;
    color: rgb(74, 246, 38);
    font-size: 1.2rem;
}
#mainContainer {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}
#videoElement {
    border: 0.125rem solid rgb(74, 246, 38);
    border-radius: 0.5rem;
    width: 65vw;
    height: auto;
    aspect-ratio: 16/9;
}
#customControls {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    width: 100%;
}
.visible {
    pointer-events: auto !important;
    opacity: 1 !important;
}
#progressContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    height: 2vw;
}
#progressBar {
    width: 0%;
    background-color: white;
    height: 15%;
    transition: width 0.3s linear;
}
#pauseplayButton {
    position: absolute;
    height: 4vw;
    width: 4vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}
#mainContainer:fullscreen #videoElement{
    height: 100%;
    width: 100%;
    border: none;
}
.videoMeta{
    color: white;
    position: absolute;
    bottom: 102%;
}
#mainContainer:fullscreen .videoMeta{
    bottom: auto;
    top: 0;
}
#videoIndex{
    right: 0.5rem;
}
#playerDate{
    left: 0;
    right: 0;
}
#playerBoard {
    position: absolute;
    top: 0;
    right: 102%;
    text-align: left;
    color: white;
}
#mainContainer:fullscreen #playerBoard{
    left: 0%;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
}
.padRight {
    padding-right: 0.75rem;
}
#ratings {
    position: absolute;
    left: 102%;
    top: 0;
    color: white;
    text-align: left;
}
#mainContainer:fullscreen #ratings{
    left: auto;
    right: 0;
    bottom: 5%;
    top: auto;
}
.smallRatingIcon {
    height: 1rem;
    width: auto;
}
#mainContainer:fullscreen .smallRatingIcon{
    height: 1.5vw;
}
.flexCell {
    display: flex;
    justify-content: left;
    align-items: center;
}
#ratings td {
    padding-right: 0.75rem;
}
#submitRatings {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    left: 105%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
#mainContainer:fullscreen #submitRatings{
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 0%;
}
#mainContainer:fullscreen #playerTable,
#mainContainer:fullscreen #submitRatings,
#mainContainer:fullscreen #ratings,
#mainContainer:fullscreen #playerDate {
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    font-size: 2vw;
}
#mainContainer:fullscreen #videoIndex {
    padding: 0.5rem;
    font-size: 2vw;
}
.rating {
    background-image: url('./images/empty-star.png');
    background-size: cover;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
}
.rating:hover, .rating:hover ~ .rating{
    background-image: url('./images/star.png');
}
.rated {
    background-image: url('./images/star.png');
}
.selectedPlayer{
    color: rgb(74, 246, 38);
    font-weight: bold;
}
.actions{
    position: absolute;
    top: 101%;
    left: 0;
    right: 0;
}
#about {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: white;
    text-align: right;
}
#videoCountContainer{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white
}
.clickableText {

}
.clickableText:hover {
    text-decoration: underline;
    cursor: pointer;    
}
#fsButtonContainer {
    position: absolute;
    top: 4.6%;
    right: 2.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mainContainer:fullscreen #fsButtonContainer {
    display: none;
}
#fsButton {
    width: 2vw;
    height: 2vw;
    filter: invert(1);
    cursor: pointer;
}
#fsHelp {
    color: white;
    font-size: 1vw;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
th {
    font-weight: normal;
}
@media screen and (max-width: 768px) {
    html {
        font-size: 11px;
    }
    body {
        margin-left: 0;
        margin-right: 0;
    }
    #mainContainer {
        display: flex;
        margin-top: 3rem;
    }
    #videoElement {
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    #progressContainer {
        height: 3.5vw;
    }
    #playerBoard {
        top: 110%;
        left: 3vw;
    }
    #submitRatings {
        flex-direction: row-reverse;
        top: 102%;
        left: auto;
        right: 3vw;
        transform: translateY(0);     
    }
    #ratings {
        top: 110%;
        right: 3vw;
        left: auto;
    }
    #fsButton {
        width: 5vw;
        height: 5vw;
    }
    #fsHelp {
        font-size: 2vw;
    }
    #pauseplayButton {
        width: 8vw;
        height: 8vw;
    }
}