@font-face {
    font-family: 'VT323';
    src: url('/static/cool_font.woff2') format('woff2');
}
body {
    text-align: center; /* Center aligns all content within the body */
    font-family: 'VT323';
    background-color: #1e1e1e;
    color: rgb(74, 246, 38);
    font-size: 1.2vw;
}
h1 {
    margin-bottom: 8px;
}
.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Middle box takes up 65vw */
  }
#videoElement {
  border: 2px solid rgb(74, 246, 38);
  border-radius: 8px;
  width: 65vw;
  height: auto;
  display: block;
  margin: 0 auto;
}
#videoMeta{
    margin-bottom: 5px;
    color: white
}
.mobileActionsContainer{
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center;
    font-size: 7vw;
    flex-direction: column;
}
.mobileActions{
    display: none;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.actions{
    margin-top: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: white
}
a {
    color: inherit; /* Use the same color as its parent element */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media screen and (orientation: portrait) {
    body {
        font-size: 3vw;
    }
    #videoElement {
        width: 90vw; /* Adjust width for smaller screens */
    }
}

@media only screen and (max-width: 1100px) and (orientation: landscape) {
    h1, .actions {
        display: none;
    }
    .mobileActions{
        display: block;
    }
}