@font-face {
    font-family: 'VT323';
    src: url('/static/cool_font.woff2') format('woff2');
}
body {
    text-align: center; /* Center aligns all content within the body */
    font-family: 'VT323';
    background-color: #1e1e1e;
    color: rgb(74, 246, 38);
    font-size: 1.2vw;
}
h1 {
    margin-bottom: 8px;
}
.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Middle box takes up 65vw */
    grid-template-rows: repeat(2, auto);
  }
#videoElement {
  border: 2px solid rgb(74, 246, 38);
  border-radius: 8px;
  width: 65vw;
  height: auto;
  display: block;
  margin: 0 auto;
}
.sideContainers{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#videoMeta{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    color: white
}
#videoIndex{
    margin-left: auto;
}
#nameDate{
    position: absolute;
}
#playerHeaderPC, .playerPC{
    color: white;
    margin-left: 1vw;
}
#currentPlayer{
    color: rgb(74, 246, 38);
    font-weight: bold;
}
.mobileActions{
    display: none;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.actions{
    margin-top: 10px;
}
#about {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: white
}
#videoCount{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white   
}
#playersPortrait{
    text-align: left;
    display: none;
    color: white;
    margin-top: 3vw;
    margin-left: 5vw;
    font-size: 4vw;
}
a {
    color: inherit; /* Use the same color as its parent element */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media screen and (orientation: portrait) {
    body {
        font-size: 3vw;
    }
    #videoElement {
        width: 90vw; /* Adjust width for smaller screens */
    }
    #playerHeaderPC, .playerPC {
        display: none;
    }
    #playersPortrait{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1100px) and (orientation: landscape) {
    h1, .actions, #playerHeaderPC, .playerPC {
        display: none;
    }
    .mobileActions{
        display: block;
    }
    .sideContainers{
        justify-content: center !important; 
        font-size: 4vw;
    }
    #videoMeta{
        font-size: 1.7vw;
    }
    footer {
        font-size: 1.5vw;
    }
}