<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Rocket League Clips. Best Daily Rocket League Shorts Clips, 15 and 30 seconds clips.">
        <title>Clip of the Day</title>
        <link rel="icon" href="{{url_for('static', filename='favicon.png')}}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <h1><< {{game}} CLIP OF THE DAY >></h1>
        <div class="container">
            <div></div>
            <div id="videoMeta">
                <div id="nameDate">{{player}} | {{video_name[-23:-4]}}</div>
                <div id="videoIndex">[{{vid_index}}/{{video_count}}]</div>
            </div>
            <div></div>
            <div class="sideContainers">
                <span id="playerHeaderPC">[PLAYERS]</span>
                <a class="playerPC" id="{% if not selected_player %}currentPlayer{% endif %}" href={{url_for('change_player', player='')}}>All</a>
                {% for player in players %}
                    <img src={{url_for('static', filename='eggplant.png')}}>
                    <a class="playerPC" id="{% if player == selected_player %}currentPlayer{% endif %}" href={{url_for('change_player', player=player)}}>{{player}}</a>
                {% endfor %}
                <a class="mobileActions" href="{{url_for('latest_video')}}">[LATEST]</a>
                <a class="mobileActions" href="{{url_for('iterate_video', iterate='prev')}}">[PREV]</a>
            </div>
            <div>
                <video id="videoElement" alt="Rocket League Clip" controls autoplay muted loop playsinline>
                    <source src={{path_to_video}} type="video/mp4">
                </video>
            </div>
            <div class="sideContainers" id="scRight">
                <form id="ratings" action="/" method="POST">
                    <input type="hidden" id="rating_input" name="rating">
                    <input type="hidden" id="player_input" name="player">
                    <input type="hidden" id="video_input" name="video">
                    <div class="rating" onclick="submitRating(5)"></div>
                    <div class="rating" onclick="submitRating(4)"></div>
                    <div class="rating" onclick="submitRating(3)"></div>
                    <div class="rating" onclick="submitRating(2)"></div>
                    <div class="rating" onclick="submitRating(1)"></div>
                </form>
                <a class="mobileActions" href={{url_for('random_video')}}>[RANDOM]</a>
                <a class="mobileActions" href={{url_for('iterate_video', iterate='next')}}>[NEXT]</a>
            </div>
        </div>
        <div class="actions">
            <a href="{{url_for('iterate_video', iterate='prev')}}">[PREV]</a> 
            <a href="{{url_for('latest_video')}}">[LATEST]</a> 
            <a href="{{url_for('random_video')}}">[RANDOM]</a> 
            <a href="{{url_for('iterate_video', iterate='next')}}">[NEXT]</a>
        </div>
        <div id="playersPortrait">
            <span id="playerHeader">[PLAYERS]</span>
            <a id="{% if not selected_player %}currentPlayer{% endif %}" href={{url_for('change_player', player='')}}>All</a>
            {% for player in players %}
                <a class="player" id="{% if player == selected_player %}currentPlayer{% endif %}" href={{url_for('change_player', player=player)}}>{{player}}</a>
            {% endfor %}
        </div>
        <footer>
            <div id="videoCount">[VIDEO COUNT]: {{video_count}}</div>
            <nav id="about">
                <a href="https://www.tiktok.com/@clipofthedayrl">[TIKTOK]</a>
                <br>
                <a href="https://www.youtube.com/@clipofthedayRL">[YOUTUBE]</a>
                <br>
                <a href="https://theo-von.com">[THEO VON QUOTES]</a>
                <br>
                [BY <a href={{url_for('change_game')}}>GEORGE</a> JALLAND]
            </nav>
        </footer>
    </body>
</html>