<!DOCTYPE html>
<html>
    <head>
        <title>Clip of the Day</title>
        <h1><< {{game}} CLIP OF THE DAY >></h1>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles.css')}}>
    </head>
    <body>
        <div id="videoMeta">{{player}} | {{filedate}}</div>
        <video id="videoElement" controls autoplay muted loop>
            <source src={{path_to_video}} type="video/mp4">
        </video>
        <div class="actions">
            <a href={{url_for('iterate_video', iterate='prev')}}>[PREV]</a> <a href={{url_for('latest_video')}}>[LATEST]</a> <a href={{url_for('random_video')}}>[RANDOM]</a>  <a href={{url_for('iterate_video', iterate='next')}}>[NEXT]</a>
        </div>
        <footer> [ABOUT THIS PROJECT] <br> [SOME LINK] <br> [BY GEORGE JALLAND]</footer>
    </body>
</html>